<!DOCTYPE html>
<html lang="cs">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="style.css">
    <title>SPZ Detektor</title>
</head>

<body>

    <div class="container">
        <h1>SPZ Detektor</h1>
        <img id="videoFeed" src="/video_feed" alt="Video">
        <table>
            <thead>
                <tr>
                    <th class="col-num">#</th>
                    <th>SPZ</th>
                    <th>Datum a cas</th>
                    <th class="col-pocet">Detekci</th>
                    <th class="col-akce"></th>
                </tr>
            </thead>
            <tbody id="history">
                <tr>
                    <td colspan="5" class="prazdno">Zadna data</td>
                </tr>
            </tbody>
        </table>
    </div>

    <script src="script.js"></script>
</body>

</html>